[Desktop Entry]
Name=DiaryNote
Comment=Modern Canvas Note Taking Application
Exec=DiaryNote %U
Icon=DiaryNote
Terminal=false
Type=Application
Categories=Office;Utility;TextEditor;
